<!-- // secret.ejs -->


<!-- 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li> -->

<head>
    <link rel="stylesheet" type="text/css" href="/pg.css" />
     
  </head>

<body>

	<div class="topnav">
		<a class="active" href="/home">Home</a>
		
	  <a href="/register">Sign up!!</a>
	  <a href="/login">Login</a>
	  <a href="/logout">Logout</a>
	  </div>


<div style="padding-left:16px">
    <h1>This is secret page</h1>
<h2>you have login succesfully</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Autem quam sequi veniam tempora magnam sapiente eius dignissimos eos, 
    animi voluptatem ipsa mollitia eligendi consectetur dolore nesciunt explicabo,
     modi rerum saepe?</p>
</div>

</body>

